# Configuração de Banco de Dados MySQL
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=u576215103_anorak_hml
DATABASE_USER=u576215103_anorak_hml
DATABASE_PASSWORD=SUA_SENHA_AQUI
DB_TABLE_PREFIX=hml_

# Configuração de Ambiente
APP_ENV=homologation
APP_URL=http://anorak.hubdigital360.com/hml

# Integração Mercado Pago (Pix / Cartão)
MERCADOPAGO_ACCESS_TOKEN=APP_USR-SEU_ACCESS_TOKEN_AQUI
MERCADOPAGO_PUBLIC_KEY=APP_USR-SUA_PUBLIC_KEY_AQUI
